@font-face {
  font-family: Roboto;
  src: url('./Roboto/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background: #ddd;
}

/* ------------------ NAVBAR ------------------ */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
  align-items: center;
}

.searchBar {
  padding: 1px;
  border: solid 1px rgb(201, 201, 201);
  border-radius: 8px;
  width: 500px;
  background: rgb(231, 231, 231);
}

.icon {
  padding-top: 3px;
  padding-left: 5px;
  color: gray;
}

.searchBar:hover {
  border: solid 1.2px rgb(0, 89, 255);
}
.searchBar:focus-within {
  border: solid 1.2px rgb(0, 89, 255);
}

.searchInput[type='text'] {
  border: none;
  font-size: 17px;
  outline: none;
  width: 450px;
  background: rgb(231, 231, 231);
}

.navbar .login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  background: white;
  color: blue;
  font-size: 16px;
  border-radius: 25px;
  padding: 8px 20px;
  margin: 4px;
}

.navbar .login:hover {
  cursor: pointer;
}

.navbar .signup {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background: blue;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  padding: 8px 20px;
  margin: 4px;
}

.navbar .signup:hover {
  cursor: pointer;
}

.navbar .profile {
  display: inline-block;
  margin: 2px;
}
.navbar .profile:hover {
  border: solid 1px grey;
  cursor: pointer;
}
.navbar .profile .personIcon {
  min-width: 30px;
  height: auto;
}
.navbar .profile .arrow {
  margin-left: -8px;
}

/* ------------------ NAVBAR ------------------ */

/* ------------------ HOME------------------ */

.home {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  background: cornsilk;
  padding-top: 60px;
}

.home .trending {
  align-self: flex-start;
}

.home .container {
  display: flex;
  column-gap: 20px;
}

.home .container .createPost {
  width: 450px;
  background: white;
}

/* ------------------ HOME ------------------ */

/* ------------------ Create Post ------------------ */
.post {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  padding-top: 80px;
}

.post .left-side {
  width: 500px;
}

.post .community {
  display: flex;
  align-items: center;
}

.post .community .addIcon {
  margin-top: 3px;
  margin-left: 5px;
}

.post .community .addIcon:hover {
  cursor: pointer;
}

.post .inputBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: auto;
  background: white;
  border-radius: 10px;
}

.post .inputBox .postType {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30px;
}

.post .inputBox .postType .selectionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  height: 30px;
  border: 1px solid grey;
  background: #eee;
}

.post .inputBox .postType .selected {
  border-bottom: 3px solid black;
  background: rgb(160, 160, 160);
}

.post .inputBox .postType .selectionBox:hover {
  cursor: pointer;
  background: rgb(161, 161, 161);
}

.post .inputBox .titleInput[type='text'] {
  border: solid 1px grey;
  margin-top: 10px;
  width: 90%;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post .inputBox .tabBox {
  display: flex;
  justify-content: center;
  width: 100%;
}
.post .inputBox .tabBox .inputText {
  resize: none;
  font-size: 15px;
  width: 90%;
  padding: 8px 15px;
  margin-top: 20px;
}

.post .inputBox .tabBox .mediaInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 15px;
  width: 90%;
  padding: 8px 15px;
  margin-top: 20px;
  border: 2px dashed black;
}

.post .inputBox .tabBox .linkInput {
  font-size: 15px;
  width: 90%;
  padding: 8px 15px;
  margin-top: 20px;
}

.post .inputBox .buttonRow {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
.post .inputBox .buttonRow .postButton {
  padding: 5px;
  background: rgb(0, 204, 255);
  border-radius: 25px;
  color: white;
  transition: 0.4s ease-in-out;
}

.post .inputBox .buttonRow .postButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.post .inputBox .inputFooter {
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: center;
  height: 30px;
}

.post .inputBox .inputFooter .replyCheck {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}
/* ------------------ Create Post ------------------ */

/* For small phones */
@media screen and (max-width: 800px) {
  .navbar .login {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .signup {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .searchBar {
    width: 250px;
  }
  .navbar .searchBar .searchInput[type='text'] {
    width: 200px;
  }

  .home .container {
    width: 600px;
    background: white;
  }

  .home .container .sidebar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar .signup {
    display: none;
  }
  .navbar .login {
    display: none;
  }
  .post .left-side {
    width: 320px;
  }
}
